.main-layout {
  width: 100vw;
  height: 100vh;
}

.tooltip-card {
  border-width: 1px;
  background-color: whitesmoke;
  padding: 16px;
}

.tooltip-card-header {
  flex: 1;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.tooltip-card-pic {
  display: inline-block;
}

.tooltip-card-title {
  font-weight: bold;
  font-size: 18px;
  padding-left: 8px;
}

.tooltip-card-desc {
  font-size: 16px;
}
